---
layout: archive
title: ""
permalink: /photography/
author_profile: false
redirect_from: 
---
{% include base_path %}

<div class="gallery">
    {% for image in site.static_files %}
        {% if image.path contains 'images/photography/' %}
            <div class="photo">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.basename }}">
            </div>
        {% endif %}
    {% endfor %}
</div>

<style>
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }
    .photo {
        margin: 10px;
        box-shadow: 0 0 5px #333;
        transition: transform 0.2s;
        display: inline-block; /* 改为inline-block以适应内容尺寸 */
    }
    .photo:hover {
        transform: scale(1.1);
    }
    img {
        max-width: 30vw; /* 图片最大宽度为视窗宽度 */
        max-height: 30vh; /* 图片最大高度为视窗高度 */
        height: auto;
        width: auto;
        object-fit: contain; /* 保持内容适应而不裁剪 */
        border: 1px solid #ccc;
    }
</style>

