---
layout: archive
title: "Photography"
permalink: /photography/
author_profile: false
redirect_from: 
---


<div class="gallery">
    {% for image in site.static_files %}
        {% if image.path contains 'images/photography/' %}
            <div class="photo">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.basename }}">
            </div>
        {% endif %}
    {% endfor %}
</div>

<style>
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }
    .photo {
        margin: 10px;
        box-shadow: 0 0 5px #333;
        transition: transform 0.2s;
    }
    .photo:hover {
        transform: scale(1.1);
    }
    img {
        width: 300px;
        height: 200px;
        object-fit: cover;
    }
</style>
